<%
die1 = rand(1..6)
die2 = rand(1..6)
total = die1 + die2
# puts "The total is #{total}"
%>

<h1>Rolling Dice (Lab 1)</h1>

  <p>
    You rolled a <strong><%= die1 %></strong> and a <strong><%= die2 %></strong>.
    <br />
    <img src="/images/dice/<%= die1 %>.svg">
    <img src="/images/dice/<%= die2 %>.svg">
    <br />
    The total is <strong><%= total %></strong>.
  </p>

<a href="/dice">Roll the dice!</a>
